/**
 * Onepoint inspired theme for reveal.js
 */
@import url(../lib/font/avenir-lt-std/style.css);

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
    color: #fff;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
    background: #fff;
    background-color: #fff;
}

body:after {
    content: ' ';
    position: fixed;
    bottom: 3em;
    left: 1em;
    width: 10em;
    height: 10em;
    background: url(images/logo.png);
    background-size: 10em;
    background-repeat: no-repeat;
    background-position: 3% 100%;
}

/*********************************************
 * FOOTER (oui dans le before, et alors !)
 *********************************************/
body:before {
    content: ' ';
    position: fixed;
    padding: 1em;
    width: 100%;
    bottom: 0;
    height: 1em;
    background-color: #dd7927;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

.reveal {
    font-family: "Avenir LT Std 95 Black", sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: #222;
}

::selection {
    color: #fff;
    background: #98bdef;
    text-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: #98bdef;
    text-shadow: none;
}

.reveal .slides>section,
.reveal .slides>section>section {
    line-height: 1.3;
    font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #8e3089;
    font-family: "Avenir LT Std 95 Black", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.3em;
}

.reveal h2 {
    font-size: 1.6em;
}

.reveal h3 {
    font-size: 1.2em;
}

.reveal h4 {
    font-size: 1em;
    color: rgb(255, 192, 0);
    font-weight: bold;
    text-transform: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    margin: 20px 20px;
    font-family: "Avenir LT Std 45 Book", sans-serif;
    line-height: 1.3;
    font-size: 1em;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal blockquote {
    quotes: "«\00A0""\00A0»";
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    font-style: italic;
    text-align: left;
    padding: 40px;
    background-color: rgba(0, 158, 220, 0.3);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal small.author {
    width: 70%;
    margin-top: 0;
    text-align: right;
    font-size: 1em;
    font-style: italic;
}

.reveal blockquote::before {
    content: open-quote;
}

.reveal blockquote::after {
    content: close-quote;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 80%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
    font-family: monospace;
    text-transform: none;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #2a76dd;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}

.reveal a:hover {
    color: #6ca0e8;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #1a53a1;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 15px 0px;
    background: none;
    border: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #2a76dd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

.reveal hr.onepoint_spacer {
    height: 1px;
    color: rgb(171, 171, 171);
    background-color: rgb(171, 171, 171);
    width: 60%;
    border: none;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
    color: #8e3089;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    color: #8e3089;
}

.reveal .progress span {
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.reveal img.logo-onepoint {
    width: 35%;
}

.reveal img.logo {
    background: none;
    border: none;
    box-shadow: none;
}

html.v_background body {
    background-repeat: no-repeat;
    background-size: 25% 100%;
}

html.v_background section.present:not(.stack) {
    padding-left: 28%;
    max-width: 70%;
    text-align: left;
}

html.h_background body {
    background-repeat: no-repeat;
    background-size: 100% 35%;
    background-position: center top;
}

html.h_background section.present:not(.stack) {
    margin-top: 100px;
}

/* theme : nature */
html.h_background.fougeres body {
    background-image: url("images/backs/h/fougeres.jpg");
}

html.v_background.fougeres body {
    background-image: url("images/backs/v/fougeres.jpg");
}

html.h_background.ciel body {
    background-image: url("images/backs/h/ciel.jpg");
}

html.v_background.ciel body {
    background-image: url("images/backs/v/ciel.jpg");
}

html.h_background.plante body {
    background-image: url("images/backs/h/plante.jpg");
}

html.v_background.plante body {
    background-image: url("images/backs/v/plante.jpg");
}

html.h_background.plantes_grasses body {
    background-image: url("images/backs/h/plantes_grasses.jpg");
}

html.v_background.plantes_grasses body {
    background-image: url("images/backs/v/plantes_grasses.jpg");
}

html.h_background.poissons body {
    background-image: url("images/backs/h/poissons.jpg");
}

html.v_background.poissons body {
    background-image: url("images/backs/v/poissons.jpg");
}

html.h_background.pont body {
    background-image: url("images/backs/h/pont.jpg");
}

html.v_background.pont body {
    background-image: url("images/backs/v/pont.jpg");
}

html.h_background.auto_stop body {
    background-image: url("images/backs/h/auto_stop.jpg");
}

html.v_background.auto_stop body {
    background-image: url("images/backs/v/auto_stop.jpg");
}

html.v_background.dos_a_la_mer body {
    background-image: url("images/backs/v/dos_a_la_mer.jpg");
}

html.h_background.face_au_lac body {
    background-image: url("images/backs/h/face_au_lac.jpg");
}

html.v_background.face_au_lac body {
    background-image: url("images/backs/v/face_au_lac.jpg");
}

html.h_background.fleurs_rouges body {
    background-image: url("images/backs/h/fleurs_rouges.jpg");
}

html.v_background.fleurs_rouges body {
    background-image: url("images/backs/v/fleurs_rouges.jpg");
}

html.h_background.montagne body {
    background-image: url("images/backs/h/montagne.jpg");
}

html.v_background.montagne body {
    background-image: url("images/backs/v/montagne.jpg");
}

html.v_background.orchidee body {
    background-image: url("images/backs/v/orchidee.jpg");
}

html.h_background.ponton body {
    background-image: url("images/backs/h/ponton.jpg");
}

html.v_background.ponton body {
    background-image: url("images/backs/v/ponton.jpg");
}

html.v_background.randonnee body {
    background-image: url("images/backs/v/randonnee.jpg");
}

/* Theme : Onepoint */
html.h_background.siege_paris_1 body {
    background-image: url("images/backs/h/siege_paris_1.jpg");
}

html.v_background.siege_paris_1 body {
    background-image: url("images/backs/v/siege_paris_1.jpg");
}

html.v_background.siege_paris_2 body {
    background-image: url("images/backs/v/siege_paris_2.jpg");
}

html.v_background.siege_paris_3 body {
    background-image: url("images/backs/v/siege_paris_3.jpg");
}

/* Theme : techno */
html.v_background.telephone body {
    background-image: url("images/backs/v/telephone.jpg");
}

html.v_background.carte_mere body {
    background-image: url("images/backs/v/carte_mere.jpg");
}

html.h_background.clavier body {
    background-image: url("images/backs/h/clavier.jpg");
}

html.v_background.clavier body {
    background-image: url("images/backs/v/clavier.jpg");
}

html.v_background.eolienne body {
    background-image: url("images/backs/v/eolienne.jpg");
}

html.v_background.storm_papa body {
    background-image: url("images/backs/v/storm_papa.jpg");
}

html.v_background.wall_e body {
    background-image: url("images/backs/v/wall_e.jpg");
}

html.v_background.min_js body {
    background-image: url("images/backs/v/min_js.jpg");
}

html.h_background.min_js body {
    background-image: url("images/backs/h/min_js.jpg");
}

html.v_background.nappes body {
    background-image: url("images/backs/v/nappes.jpg");
}

html.v_background.pepper body {
    background-image: url("images/backs/v/pepper.jpg");
}

html.v_background.platine body {
    background-image: url("images/backs/v/platine.jpg");
}

html.v_background.serveur body {
    background-image: url("images/backs/v/serveur.jpg");
}

html.h_background.serveur body {
    background-image: url("images/backs/h/serveur.jpg");
}

html.v_background.simple body {
    background-image: url("images/backs/v/simple.jpg");
}

html.h_background.conf body {
    background-image: url("images/backs/h/conf.jpg");
}

/* Theme : divers */
html.h_background.fenetre body {
    background-image: url("images/backs/h/fenetre.jpg");
}

html.v_background.fenetre body {
    background-image: url("images/backs/v/fenetre.jpg");
}

html.h_background.idee body {
    background-image: url("images/backs/h/idee.jpg");
}

html.v_background.idee body {
    background-image: url("images/backs/v/idee.jpg");
}

html.v_background.abstrait1 body {
    background-image: url("images/backs/v/abstrait1.jpg");
}

html.h_background.abstrait2 body {
    background-image: url("images/backs/h/abstrait2.jpg");
}

html.v_background.abstrait2 body {
    background-image: url("images/backs/v/abstrait2.jpg");
}

html.h_background.ampoules body {
    background-image: url("images/backs/h/ampoules.jpg");
}

html.v_background.ampoules body {
    background-image: url("images/backs/v/ampoules.jpg");
}

html.v_background.fenetres_nuit body {
    background-image: url("images/backs/v/fenetres_nuit.jpg");
}

html.h_background.fenetres_nuit body {
    background-image: url("images/backs/h/fenetres_nuit.jpg");
}

html.v_background.hexagones1 body {
    background-image: url("images/backs/v/hexagones1.jpg");
}

html.h_background.hexagones1 body {
    background-image: url("images/backs/h/hexagones1.jpg");
}

html.v_background.hexagones2 body {
    background-image: url("images/backs/v/hexagones2.jpg");
}

html.h_background.hexagones2 body {
    background-image: url("images/backs/h/hexagones2.jpg");
}

html.v_background.neurone body {
    background-image: url("images/backs/v/neurone.jpg");
}